#menu-bar, #footer, #sidebar {
    background-color: #544AFB!important;
}
.submenu {
    background-color:#FDD90C!important;
    color: #544AFB!important;
}
.submenu-container ul.sub-menu-nav>li>a {
    color: #544AFB!important;
}

.has-submenu, .into-mobile-menu {
    background-color: #544AFB!important;
}
#top-bar{
    background-color: #000;
}
#language-bar {
    background-color: #000;
}
.about-into {
    background-color: #808080!important;
}

.contact-apply {
    background-color: #544AFB!important;
}

#menu-bar {
    height: 70px!important;
}